body{
    font-size: 0.7em;
    height:  100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: rgb(226, 224, 224);
}
header{
    text-align: center;
    padding: 0.8vh;
    background-color: rgb(0, 0, 0);
    font-size: 2.5em;
    color: white;
}
#fild_livro{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table_livro, #table_aluguel{
    position: relative;
}
th{
    position: sticky;
    top: 0;
    background-color: rgba(20, 20, 20, 0.856);
    border: 1px solid black;
    color: white;
}
td{
    height: auto;
}
#table_livro tr:hover, #table_aluguel tr:hover{
    background-color: rgb(214, 213, 213);
}
.input_livro{
    display: inline-block;
    margin: 0 35px;
}
#conteiner{
    height: 36vh;
    overflow-y:scroll;
}
#table_livro{
    border-collapse:collapse;
    width: 98.5vw;
    margin-top: 0px;
}
#layout_aluguek{
    width: 100vw;
}
#td_form_aluguel{
    width: 30vw;
    vertical-align: top;
}
#form_aluguel{
    height:32vh;
}
#form_aluguel div{
    margin-top: 5px;
}
#conteiner2{
    overflow-y:scroll;
    height: 38vh;
}
#table_aluguel{
    width: 78.5vw;
    border-collapse:collapse;
}
#td_table_aluguel{
    vertical-align: top;
}
#table_livro td, #table_aluguel td{
    border: 1px solid rgba(0, 0, 0, 0.322);
}
#isubmit, #ireset, .btn_aluguel{
    display: inline-block;
    padding: 10px 10px;
    margin: 0px 9px;
}
#isubmit:hover, #ireset:hover, .btn_aluguel:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
#div_btn_aluguel{
    text-align: center;
    
}
input[type='text']{
    width: 200px;
    overflow: hidden;
}
input[type='number']{
    width: 70px;
}
.colum_menor{
    width: 150px;
    text-align: center;
}
#div_busca_livro{
    text-align: center;
}
#div_busca_emprestimo{
    margin-left: 5px;
}
#busca_emprestimo{
    padding: 1.5px 2px;
}
a{
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    padding: 0px 2px;
    margin: 0px 2px;
    text-decoration: none;
    border-radius: 3px;
    color: black;
}
#btn_editar:hover{
    background-color: rgba(30, 157, 236, 0.705);
}
#btn_apagar:hover{
    background-color: rgba(255, 0, 0, 0.479);
}
   
   


